#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mySwiper {
  position: relative;
}

/* Estilização geral do slide */
.slide {
  position: relative; 
}

/* Estilização do overlay */
.text-overlay {
  position: absolute; /* Sobrepõe a imagem */
  top: 50%; /* Centraliza verticalmente */
  left: 50%; /* Centraliza horizontalmente */
  transform: translate(-50%, -50%); /* Ajusta a posição para centralizar o overlay */
  color: white; /* Cor do texto para contraste */
  text-align: center; /* Alinha o texto e o botão ao centro */
  padding: 20px; /* Espaçamento interno */
  z-index: 10; /* Garante que o overlay fique acima da imagem */
  width: 100%; /* Garante que o overlay ocupe toda a largura do slide */
}

/* Estilização do texto grande */
.overlay-text {
  font-size: 2rem; /* Tamanho grande do texto */
  margin-bottom: 20px; /* Espaçamento inferior para separar o texto do botão */
}

/* Estilização do botão */
.slide-button {
  display: inline-block;
  background-color: rgb(254, 174, 4); /* Cor de fundo RGB */
  color: white; /* Cor do texto */
  border: none; /* Remove a borda padrão */
  border-radius: 0.375rem; /* Arredondar os cantos */
  padding: 0.75rem 1.5rem; /* Espaçamento interno maior para um botão maior */
  font-size: 1.25rem; /* Tamanho da fonte maior para o botão */
  text-decoration: none; /* Remove o sublinhado padrão do link */
  transition: background-color 0.3s ease; /* Transição suave para a cor de fundo */
}

/* Efeito hover do botão */
.slide-button:hover {
  background-color: rgb(210, 145, 0); /* Cor de fundo mais escura no hover */
}
